 
.posforMessages
{
  position: relative;
  top: 40px;
} 

.posforMessages .messages-section
{
  background-color: #558da39e;
  border-radius: 10px;
  box-shadow: -5px 0px 10px -2px #01010149;
  height: 600px;
}
 
.posforMessages .input
{
  border-radius: 10%;
  box-shadow: -5px 0px 10px -2px #01010149;
  color: #000000;
}

.posforMessages .img:hover
{
  color: aqua;
}


.posforMessages img{
  border-radius: 50%;
}

.rec
{
  background-color: rgb(120, 7, 7);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.send
{
  background-color: bisque;
  color: black;
  font-weight: bold;
}
.posforMessages ::-webkit-scrollbar
{
     width:0px;
     
}

.posforMessages ::-webkit-scrollbar-track
{
     background: white;
     border-radius: 15px;
}

.posforMessages ::-webkit-scrollbar-thumb
{
     background: gray;
     border-radius: 15px;
}

.posforMessages ::-webkit-scrollbar-thumb:hover
{
     background: burlywood;
}

.messagesSection
{
  border-radius: 0%;
  background-image: url('../assets/back-chat.png');
  background-size: cover; /* Make the background image cover the entire element */
  background-position: center; /* Center the background image */
  opacity: 0.9; /* Adjust the opacity of the background image */
}

