
.addArticle{
    margin-top: 15vmin ;
    background-image: url('sandrabackground.png');
    background-repeat: no-repeat;
    background-size:95vmin;
    background-position: 10vmin;
  height:85vmin;  
}


